{% extends "blog_base.html" %}
{% load static %}

{% block title %}About{% endblock %}

{% block content%}

<div class="content-section">
    <div class="media">
        <div class="media-body">
            <div class="  justify-content-around align-items-center mb-4">
                <div>
                    <h2 class="mt-2 ml-2">About Blog-it
                    </h2>
                </div>

            </div>
            <p>Blog-it aims to provide a platform for you to share your thoughts with the world. <br> So tell us, what is on your mind today...</p>
        </div>

    </div>
    <div class ="d-flex justify-content-center mt-4 mb-4">
        <img src="{% static 'images/logo-inv.png' %}" width="60" height="60" alt="Logo">
    </div>
</div>

{% endblock content%}
