<!-- Display loaded Posts   -->
{% for post in page.object_list %}
<article class="media content-section">
    <img class="rounded-circle article-img" src="{{ post.author.profile.image.url }}">
    <div class="media-body">
        <div class="article-metadata">
            <a class="mr-2" href="{% url 'account-profile' post.author.id%}">{{ post.author }}</a>
            <small class="text-muted">{{ post.date_posted|date:"F d, Y"}}</small>
        </div>
        <h2><a class="article-title" href="{% url 'post-detail' post.id %}">{{ post.title }}</a></h2>
        <p class="article-content">{{ post.content }}</p>
    </div>
</article>
{% endfor %}

<!-- If there is a next page element, show button with HTMX function   -->
{% if page %}
    <div id="load-more">
        {% if page.has_next %}
            <div class="load-more" style="text-align: right">
                <button
                    hx-get="{% url 'blog-load-more-pp' %}"
                    hx-target="#load-more"
                    hx-vals='{"q": "{{ request.GET.q }}", "page": "{{ page.next_page_number }}"}'
                    hx-swap="outerHTML"
                    class="btn btn-lg btn-secondary btn-outline-info"
                >
                    Load More
                </button>
            </div>
        {% endif %}
    </div>
{% endif %}