{% extends 'blog_base.html' %}
{% load crispy_forms_tags %}

{% block title %}Profile - {{ user_object.username }} {% endblock %}

{% block content %}
<div class="content-section">
    <div class="media">
        <img class="rounded-circle account-img" src="{{ user_object.profile.image.url }}">
        <div class="media-body">
            <h2 class="account-heading">{{ user_object.username }}</h2>
            <p class="text-secondary">
                <div>
                    Email: {{ user_object.email }}
                </div>
                <div>
                    Last seen: {{ user_last_post.date_posted|date:"F d, Y" }}
                </div>
                <div>
                    Total posts: {{ user_total }}
                </div>
            </p>
        </div>
    </div>

</div>

{% for post in page.object_list %}
<article class="media content-section">
    <img class="rounded-circle article-img" src="{{ post.author.profile.image.url }}">
    <div class="media-body">
        <div class="article-metadata">
            <a class="mr-2" href="{% url 'account-profile' post.author.id %}">{{ post.author }}</a>
            <small class="text-muted">{{ post.date_posted|date:"F d, Y"}}</small>
        </div>
        <h2><a class="article-title" href="{% url 'post-detail' post.id %}">{{ post.title }}</a></h2>
        <p class="article-content">{{ post.content }}</p>
    </div>
</article>
{% endfor %}

<!-- source: https://fly.io/django-beats/a-no-js-solution-for-dynamic-search-in-django/-->
{% if page %}
<div id="container" style="padding-bottom: 5%">
    <div id="load-more">
        {% if page.has_next %}
            <div class="load-more" style="text-align: right">
                <button
                    hx-get="{% url 'blog-load-more-pp' user_object.id %}"
                    hx-target="#load-more"
                    hx-vals='{"page": "{{ page.next_page_number }}"}'
                    hx-swap="outerHTML"
                    class="btn btn-lg btn-secondary btn-outline-info"
                >
                    Load More
                </button>
            </div>
        {% endif %}
    </div>
</div>
{% endif %}
{% endblock content %}